.choose__us {
  background-color: #2b0140;
}

.white {
  color: #fff;
}

.item__inner {
  width: 72%;
  padding-left: 3%;
}

.choose-us {
  padding-left: 0;
}

.white-text {
  color: #fff;
  text-align: left;
}
.shape-fill2 {
  fill: #fff;
}
.item__icon {
  width: 20%;
  height: 90px;
}